<!DOCTYPE html>
<html ng-app lang="en">
  <head>
    <script src="http://ajax.googleapis.com/ajax/libs/angularjs/1.0.3/angular.min.js"></script>
    <meta charset="utf-8"/>
    <SocketStream/>
    <title>Welcome</title>
  </head>
  <body>
    <div id="content">
      <div ng-controller="AudioCtrl">
        <form ng-submit="playAudio()">
          <input type="submit" value="Play Audio"/>
        </form>
      </div>
      <a href="https://github.com/socketstream/socketstream">
        <img src="/images/logo.png" alt="SocketStream Logo" width="160" height="160">
      </a>
      <h1>Welcome to your new realtime app!</h1>

      <!-- QUICK CHAT DEMO-->
      <form id="demo" onsubmit="return false">
        <h3>Quick Chat Demo</h3>
        <h5>Open this page in multiple tabs or browsers and type a message below</h5>
        <div id="chatlog"></div>
        <input id="myMessage" type="text" autocomplete="off">
      </form>
    </div>
  </body>
</html>
